{% extends 'base.html' %}

{% block content %}
  
{% for message in get_flashed_messages() %}
   <div class="alert alert-info alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
   </div>
   
{% endfor %}

{% if current_user.is_authenticated %}
      <h4>Add Blog Post:</h4>
 <div class="shadow p-3 mb-5 bg-body rounded">
      <form method="POST">
         {{ form.hidden_tag() }}
         {{ form.title.label(class="form-label") }}
         {{ form.title(class="form-control") }}
        <br/>

        {{ form.slug.label(class="form-label") }}
        {{ form.slug(class="form-control") }}
        <br/>

        {{ form.content.label(class="form-label") }}
        {{ form.content(class="form-control",rows="5") }}
        <br/>

         {{ form.submit(class="btn btn-secondary") }}
      </form>
 </div>   
{% else %}
 <h3>Must Be Logged In....</h3> 
 <p>Sorry, You must be Logged in to access this page!!</p>

 <a href="{{url_for('login')}}" class="btn btn-outline-secondary btn-sm" >Login Here</a>
{% endif %} 
      

   
{% endblock %}    
