{% extends 'base.html' %}

{% block content %}
  
{% for message in get_flashed_messages() %}
   <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
   </div>
   
{% endfor %}

{% if name %}
      <h2>User Added!</h2>
      <br><br></br>
{% for our_user in our_users %}
      {{ our_user.id}}. {{ our_user.name}} - {{ our_user.email}} <br>
{% endfor %}
         
{% else %}
      <h4>User List:</h4>
        <br/>
<div class="shadow p-3 mb-5 bg-body rounded">
      <form method="POST">
         {{ form.hidden_tag() }}
         {{ form.name.label(class="form-label") }}
         {{ form.name(class="form-control") }}
        <br/>

        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
       <br/>

         {{ form.submit(class="btn btn-secondary") }}
      </form>
</div>      
      <br>
<table class="table table-hover table-bordered tbale-striped ">      
{% for our_user in our_users %}
      <tr>
       <td> {{ our_user.id}}. {{ our_user.name}} - {{ our_user.email}} </td>
      </tr>
{% endfor %}
</table>

{% endif %} 
   
{% endblock %}    
