{% extends 'base.html' %}

{% block content %}
  
{% for message in get_flashed_messages() %}
   <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
   </div>
   
{% endfor %}


      <h2><strong>DashBoard</strong> </h2>  
      <br>

      <div class="card">
        <div class="card-header">
            {{current_user.name }}
        </div>
        <div class="card-body">
          <h5 class="card-title">Welcome To Your User DashBoard</h5>
          <p class="card-text"> <strong>Name: </strong>{{ current_user.name }}<br>
                                <strong>UserName:</strong>{{ current_user.username }}<br>
                                <strong>Email:</strong>{{ current_user.email }}<br>
                                <strong>User Id:</strong>{{ current_user.id }}<br>
                                <strong>Date Joined:</strong>{{ current_user.date_added}}<br>
                                <strong> </strong><br></p>
          <a href="{{url_for('logout')}}" class="btn btn-secondary btn-sm">Logout</a>
          <a href="{{url_for('update', id=current_user.id)}}" class="btn btn-success btn-sm">Update</a>
          <a href="{{url_for('delete', id=current_user.id)}}" class="btn btn-danger btn-sm">Delete</a>
        </div>
      </div>

    

     


        
      
   
{% endblock %}    
