{% extends 'base.html' %}

{% block content %}


  {% for message in get_flashed_messages() %}
   <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
   </div>
   
  {% endfor %}
 
<h2><strong>Blog Post:</strong></h2>
<br>

<div class="card text-center">
  <div class="card-header">
    <h4>{{ post.title }}</h4>
  </div>
  <div class="card-body">
    <p class="card-text">
       By: {{ post.poster.name }}<br>
          <strong>{{ post.slug }}</strong><br>
          {{ post.content }}
    </p>
    {% if post.poster_id==current_user.id %}
     <a href="{{url_for('edit_post',id=post.id) }}" class="btn btn-outline-success btn-sm">Edit Post</a> 
     <a href="{{url_for('posts',id=post.id) }}" class="btn btn-outline-danger btn-sm">Delete Post</a>
    {% endif %}

    <a href="{{url_for('posts')}}" class="btn btn-outline-secondary btn-sm">Back To Blog</a>


  </div>
  <div class="card-footer text-muted">
    {{ post.date_added }}
  </div>
</div>
<br>





{% endblock %}   